{% extends 'BASE.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div style="background: #6f42c1;">
    <div class="text-center text-white">
        <div style="font-family: ubuntu-bold;">
            <h2 class="mb-5">Busqueda Camada:</h2>
        </div>
    </div>
</div>
<div class="text-center">
    <form action="{% url 'Buscar' %}" method="GET">{% csrf_token %}
        <div >
            <p>Nro: <input type="number" name="camada" id="camada" style="padding: 5px; border-radius: 4px; border: 1px solid #8f149a; box-sizing: border-box; margin-bottom: 2px; margin-left: 15px;"></p>
        </div>
        <button type="submit" style="background-color: #d63384; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;"> Buscar </button>
    </form>
</div>
{% endblock contenidoQueCambia %}