{% extends 'BASE.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div style="background: #6f42c1;">
    <div class="text-center text-white">
        <div style="font-family: ubuntu-bold;">
            <h2 class="mb-5">Vista de profesores</h2>
        </div>
    </div>
</div>

    <div style="padding: 8px; border-radius: 4px; border: 1px solid #8f149a; box-sizing: border-box; margin-bottom: 2px; margin-left: 15px; margin-Right: 15px;">
        <h2>Profesores disponibles</h2>
        <ul>
        {% for profesor in lista_profesores %}
        <li>{{profesor.nombre}} {{profesor.apellido}} - {{profesor.profesion}}</li>
        {% endfor %}
        </ul>
</div>
{% endblock contenidoQueCambia %}